name: ci

on:
  push:
    branches:
      - "master"

env:
  TEST_TAG: ${{ secrets.DOCKERHUB_USERNAME }}/intervaltree:test
  LATEST_TAG: ${{ secrets.DOCKERHUB_USERNAME }}/intervaltree:latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          load: true
          tags: ${{ env.TEST_TAG }}
      -
        name: Test
        run: docker run --rm ${{ env.TEST_TAG }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.LATEST_TAG }}

